





.body{
    overflow: hidden;
    height: 100%;
    width: 100%;
}


/* Navbar Style */
#navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    
    height: 65px;
    overflow: hidden;
    background-color: #58a561;
    margin: 0px;
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-style: solid;
    border-bottom-width: 10px;
    border-bottom-color: #2a582f;
    z-index: 1;
}

/* Navbar Elements */
#navbar nav_title {
    float: left;
    color: black;
    text-align: center;
    padding: 29px;  
    letter-spacing: 0.8px;
    font-family: Verdana, sans-serif;
    background-color: lightcoral;
}
/* so that navbar doesnt cover anything*/


.button {
    float: right;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: Verdana, sans-serif;
    background-color: lightcoral;
    border-radius: 25px;
    letter-spacing: 0.8px;
    margin: 14px
}
/* This sets the title to the left against the flexbox's wishes */
.logo{
    position: absolute;
    left: 0;
}
